@font-face {
    font-family: 'MachineC';
    src: url('/fonts/MachineC/10733.otf');
    src: url('/fonts/MachineC/10733.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'MachineC', serif;
}

body {
    background-image: url('images/background.jpg');
    display : grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
    grid-template-rows: 60px 30px 60px auto 30px;
}

.hr_s { height: 0; border-bottom: 3px solid #161616; }

/*Test*/

.nav {
    box-sizing: border-box;
    border: 3px solid black;
    border-left: 0;

    grid-row: 2 / 3;
}

.a1 { grid-column: 2 / 3; }
.a2 { grid-column: 3 / 4; }
.a3 { grid-column: 4 / 5; }
.a4 { grid-column: 5 / 6; }
